body {
	/* background padding and color for app */
	padding: 30px;
	background-color: lightgray;
}

.content-header {
	margin-bottom: 1px;
	padding: 0px !important;
}

.proj-img {
	border: 1px dotted silver;
}

.proj-img-dark {
	border: 1px dotted black;
}

.box-title {
	padding: 0px;
	color: black;
}
.inner:hover {
	background: rgba(0, 0, 0, 0.1);
}

.icon {
	font-size: 70px;
	color: rgba(0, 0, 0, 0.15);
	text-align: center;
	margin-top: 0px;
}

.small-box .icon {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: -5px;
	right: 5px;
	z-index: 0;
	font-size: 70px;
	color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
	text-decoration: none;
	color: #f9f9f9;
}

.small-box:hover .icon {
	font-size: 100px;
}

.btn-default {
	background-color: gray;
	color: white;
	border-color: #2f3e48;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: silver;
	color: black;
	border-color: #31347b;
}
